#footer
	.container
		.row
			.span6
				p.copyright Copyright 2013 <span class="orange">The Lassy Project</span> All Rights Reserved
			div
				ul.social-list.pull-right
					li
						a(href="http://www.facebook.com/TheLassyProject", target="_blank")
							span.social.fb
					li
						a(href="http://twitter.com/TheLassyProject", target="_blank")
							span.social.tw
