#footer
	.container
		.row
			.span6
				p.copyright Copyright 2013 <span class="blue">The Lassy Project</span> All Rights Reserved
			.span6
				ul.social-list.pull-right
					li
						a(href="#")
							span.social.fb
					li
						a(href="#")
							span.social.tw