.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding:0;
    margin:0;
}

.prettycheckbox a,
.prettyradio a{
    width: 40px;
    height: 40px;
    background: url(../img/checkbox.png) top left no-repeat;
    display: block;
    float: left;
    cursor: pointer;
    margin:0;
}

.prettycheckbox.green a,
.prettyradio.green a{ background-image: url(prettyCheckable-green.png);}

.prettycheckbox.red a,
.prettyradio.red a{ background-image: url(prettyCheckable-red.png);}

.prettycheckbox.yellow a,
.prettyradio.yellow a{ background-image: url(prettyCheckable-yellow.png);}

.prettyradio a {background-position: 0 0;}

.prettycheckbox a:focus,
.prettyradio a:focus {outline: 0 none;}

.prettycheckbox a:focus{background-position: 0 0;}
.prettyradio a:focus{background-position: 0 -150px;}

.prettycheckbox a.checked{ background-position: 0 -43px; }
.prettyradio a.checked { background-position: 0 -43px; }

.prettycheckbox a.checked:focus{ background-position: 0 -43px; }
.prettyradio a.checked:focus { background-position: 0 -43px; }

.prettycheckbox label,
.prettyradio label {
  display: block;
  float: left;
  margin: 9px 5px;
  cursor: pointer;
  color: #FFFFFF;
}