!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Thanks for signing up!
        .row
         div
          .bbox           
           .row
            .span5
             .tcwrap
              h2.bira-font Check your text messages...
              - var phoneText = ''
              - if(typeof(phone) !== 'undefined') {
                 p.sprint We sent a text message to 
                  | <span class="orange" style="font-size:larger;">#{phone}</span>
                  | containing an activation code. Enter it along with your name and email. Then click <span class="blue">‘ACTIVATE’</span>.
              - } else {
                 p.sprint We sent a text message to your phone containing 
                   | an activation code. Enter it to the right and click <span class="blue">‘ACTIVATE’</span>.
              - }

            .span4
             - if(typeof(error) != "undefined") {
                #form-error.alert.alert-danger
                 p There was an error while activating your account. Please Try again.
             - }else{ 
                #form-error.alert.alert-danger(style="display: none;")
             - }
             form#activation-form.activation-form(action="/doactivation", method="POST")
              input.input-field(type="hidden", name="mobile", value="#{phone}")
              input.input-field(type="hidden", name="ph", value="#{ph}")       
              input.input-field(type="text", required, placeholder="Full Name", name="name")
              br
              input.input-field(type="email", required, placeholder="Email", name="email")
              br
              input.input-field(type="text", required, placeholder="Activation Code", name="code")
              br
              input.btn.activate-btn(type="submit", value="Activate")
        .row
         div
          .bbox
           .row
            .span5
             .tcwrap
              h2.bira-font Didn’t get your text message?
              p.sprint Double check your number and have it resent!
            .span4
             form.resend-form.form-search(action="/user/resend", method="POST")
              input.input-field(type="hidden", name="mobileoriginal", value="#{phone}")              
              input.phone(type="text", name="mobile", required, placeholder="Re-enter #")
              br
              input.btn.resend-btn(type="submit", value="Resend Activation Code")

      include ../includes/footer
  
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type='text/javascript', src='/js/activate.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();