!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-dashboard-gap
        .row
         .span4-1
          .bbox
           a(href="/lassy", class="btn btn-primary") Set up a New Lassy
           p Lorem ipsum dolor sit amet, consectetur adipisicing
            | elit, sed do eiusmod tempor incididunt ut labore et dolore
         .span4-1
          .bbox
           a(href="#", class="btn btn-warning") Grow the Village
           p Lorem ipsum dolor sit amet, consectetur adipisicing
            | elit, sed do eiusmod tempor incididunt ut labore et dolore
        .row
         - if (lassies.length > 0) 
          .span4-1
           h3 Your Lassy's
           for lassy in lassies
            .listbox
             a(href="/lassy/overview/"+lassy.id, class="btn btn-primary") #{lassy.name}
          .span4-1
           h3 Your Lassy's
           for lassy in lassies				
            .listbox
             a.btn(href="#") Grow the Village
         - else
          .span10-1
           img(src="/img/lassyinfographic.jpg")
      .push
      include ../includes/footer
      include ../includes/foot
