!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         .media
          a.pull-left
            img.media-object(src="/img/default_pic.png", width="100")
          .media-body
            h3.alerts-title.page-title.media-heading Angelina Rodriguez
            h3.alerts-title.page-title Time of Alert: 11:27pm PST
        .row.card_section
         div.alerts_map_area
         div.alerts_btn_area
          p
           a(href="#", class="btn btn-inverse btn-large") Send Message to parent
            
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type='text/javascript', src='/js/jquery.exif.js')
    script(type='text/javascript', src='/js/jquery.canvasResize.js')
    script(type='text/javascript', src='/js/canvasResize.js')    
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();