!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Setting up a new Lassy
          - if(typeof(err) == 'string' ){
            div.alert.alert-danger.signup-error
             ul
               li.error #{err}
          - }
        .row
         div
          .bbox
           .device-setup
             p Activate your child’s Smartphone as a Lassy in 60 seconds!
             ol
              li Enter your child’s cell phone number.
              li Create secret code below.
              li Click “Send the link”.
             p Your child will be sent a link via text message to download our Lassy App. Once downloaded, they simply click “Activate” and enter their cell phone number and the secret code you created.
             form.send-link-form(action="/lassy/device/#{id}/ack", method="POST")
              label
              input(type="text", name="mobile", placeholder="Type childs cell #")
              label
              input(type="password", name="secret", placeholder="Type secret code")
              label
              input.btn.btn-warning.btn-large(type="submit", value="Send the Link")          
      include ../includes/footer

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type="text/javascript")
      $(document).ready(function(){
        $('input[name="mobile"]').mask('999-999-9999');
        var regx = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        $('.send-link-form').submit(function(){
            var secret = $('input[name="secret"]').val(),
             num = $('input[name="mobile"]').val();
             if(regx.test(num) && num != "")
             {
                return true;
              }else{
                alert('Please enter a valid mobile number and secret code.');
                return false;
              }
          })
        })
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();