!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Setting up a new Lassy
          - if(typeof(err) == 'string' ){
            div.alert.alert-danger.signup-error
             ul
               li.error #{err}
          - }
        .row.card_section
         div
          .bbox
           div
             form.picture-form(action="/lassy/zone/"+id, method="POST", enctype="multipart/form-data")
              h2.bira-font What do they look like?
              - if (typeof(photo) == 'string')
                img(src='/child-images/'+photo, width="260", height="320", id="preview_pic") 
              - else
                img(src="/img/default_pic.png", width="260", height="320", id="preview_pic")
              .pic_field
                - if (typeof(photo) == 'string')
                  input(type="file", name="photo", value=photo, id="photo_file")
                - else
                  input(type="file", name="photo", id="photo_file")
                img(src="/img/changepic_btn.png", id="choose_img")
                input(type="hidden", name="_id", value=id)
                div
                  input.btn.btn-warning.btn-large(type="submit", value="Next")
      include ../includes/footer

    
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type='text/javascript', src='/js/jquery.exif.js')
    script(type='text/javascript', src='/js/jquery.canvasResize.js')
    script(type='text/javascript', src='/js/canvasResize.js')
    script(type='text/javascript', src='/js/picchoose.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();