!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .citycover
      include ../includes/header
      .citycover-content.citycover-print
       .container.container-activate-gap
        .row
         div
          h1.bira-font.page-title Setting up a new Lassy
          - if(typeof(errors) == 'object' ){
            div.alert.alert-danger.signup-error
             ul
              each error in errors
               li.error #{error.type}
          - }
        .row.card_section
         div
          .bbox
           div            
              form.whoisitfor-form(action="/lassy/new", method="POST")              
               h2.bira-font Who is this Lassy for?
               input(type="text", name="lassyname", value=name, placeholder="Type name here...")
               input(type="hidden", name="lid", value=lid)
               div
                input.btn.btn-warning.btn-large(type="submit", value="Next")           
      include ../includes/footer

    
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootbox.js')
    script(type='text/javascript', src='/js/jquery.maskedinput.min.js')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25468002-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();