!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head
  body
      include includes/header
      .childcover.citycover-print
       .container
         div 
          div
            .bbox
             h1.bira-font Help us Prevent Child Abductions
             .watch-video.bira-font
              span Watch<br/> our Video
              img(src="/img/wv.png")
             .row-fluid.video-box
               img(src="/img/video-box-ph.jpg")
         div
          .span3
           .bbox.square
            h2.bira-font Grow the Village
            img(src="/img/yellow-tri.png")
          .span3
           .bbox.square
            h2.bira-font Join us
            img(src="/img/yellow-tri.png")
            .signup-ribbon
          .span3
           .bbox.square
            h2.bira-font Meet the Team
            p.sprint <span class="blue">Lorem itpsum</span> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <span class="orange">magna aliqua.</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
      .push
      include includes/footer
    include includes/foot
